# SKIP_INIT     : skip bt 6lowpan initialization (Ex: SKIP_INIT=1)
# LOG_LEVEL     : logging level (Ex: LOG_LEVEL=4)
# HCI_INTERFACE : alternate hci interface (Ex: HCI_INTERFACE=hci0)
# SCAN_WIN      : scanning search window in seconds (Ex: SCAN_WIN=5)
# SCAN_INT      : scanning interval in seconds (Ex: SCAN_INT=10)
# JOIN_DELAY    : device join delay in seconds (Ex: JOIN_DELAY=1)
# MAX_DEVICES   : maximum # of devices to join (Ex: MAX_DEVICES=9)
# USE_WL        : use-whitelist (Ex: USE_WL=1)
# WL            : whitelist device entry (Ex: WL=##:##:##:##:##:##)
# BL            : blacklist device entry (Ex: BL=##:##:##:##:##:##)
